body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, var(--orange) 0%,var(--light-green) 100%);
}

#main-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#main-container {
    width: 20%;
    height: 70%;
    border: 1px solid var(--dark);
    background: var(--orange);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
}

#title-game{
    color: var(--secondary);
}