body {
    padding: 0;
    margin: 0;
    /*background: linear-gradient(90deg, var(--orange) 0%,var(--light-green) 100%);*/
    /*background: linear-gradient(to top left, #C4AC33 0%, #2A0F80 100%);*/
    /*background: linear-gradient(to top left, #90BE6D 0%, #43AA8B 100%);*/
    background: linear-gradient(to top left, #F9C74F 0%, #43AA8B 100%);
}

#main-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#main-container {
    width: 20%;
    height: 70%;
    border: 1px solid var(--dark);
    background: var(--orange);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
}

#title-game{
    width: 100%;
}

.button-container {
    width: 50%;
    height: 8%;
}

.btn-menu {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--primary);
    color: white;
    font-size: large;
    cursor: pointer;
    border: none;
    transition: 500ms;
}

.btn-menu:hover {
    background-color: var(--light-green);
    color: var(--danger);
    transform: scale(1.1);
}

.wrapper-group-selection{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px 20px;
}

.wrapper-group-selection button{
    margin-left: 10px;
    width: 45px;
}

@media (max-width: 400px) {
    #main-container {
        width: 70%;
    }

    #title-game{
        width: 100%;
        height: 40%;
    }
}

@media (min-width: 401px) and (max-width: 1026px) {
    #main-container {
        width: 40%;
    }
}
  