body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid black;
    width: 100%;
    height: 15%;
}

.top-nav-buttons{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-wrapper{
    background: linear-gradient(to top left, #F9C74F 0%, #43AA8B 100%);
    padding-top: 50px;
    width: 100%;
    height: 85%;
}

/* Estilos para el botón de reinicio*/
.boton-top {
    padding: 8px;
    background-color: #801E09;
    color: #fff;
    border: none;
    border-radius: 45px;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.boton-top:hover {
    background-color: #FBC143;
    color: #4d908e;
    transform: scale(1.05);
}
/* Estilos para el título del juego */
#title-game {
    width: 250px; /* Puedes ajustar el ancho según sea necesario */
    height: auto;
    margin-right: 10px; /* Espaciado entre el botón y la imagen */
}
/* Estilos para el contenedor de los espacios de los jugadores */
.players-container {
    text-align: center;
}
/* Estilos para los nombres de los jugadores y las casillas de puntaje */
.player {
    display: inline-block;
    margin: 0 20px;
    font-size: 24px;
    text-align: center;
}

.score {
    margin: 10px 20px;
    width: 100px;
    height: 50px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}

/* Estilos para el texto del jugador y el cronómetro */
#player-info {
    text-align: center;
    font-size: 38px;
    margin-top: 50px;
}

#timer {
    font-size: 52px;
    margin-top: 10px;
}

/* Estilos para el contenedor de los espacios de la carta */
.card-container {
    text-align: center;
}

/* Estilos para los espacios de la carta */
.card-space {
    display: inline-block;
    width: 110px;
    height: 165px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

/* Estilos para el contenedor de los espacios de la carta */
.butons-container {
    text-align: center;
}

/* Estilos para los botones del timer */
#boton-beginning {
    background-color: var(--dark-green);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
}
#boton-beginning:hover {
    transform: scale(1.05);
}
#boton-pass {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    margin: 10px 40px;
    cursor: pointer;
}
#boton-pass:hover {
    transform: scale(1.05);
}
#boton-finish {
    background-color: var(--red);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
}
#boton-finish:hover {
    transform: scale(1.05);
}
/*Estilos Botones del fondo*/
#inferior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
}
.boton-bottom {
    background-color:var(--orange);
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 45px;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.boton-bottom:hover {
    transform: scale(1.05);
}
.boton-credits {
    background-color:var(--danger);
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 45px;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.boton-credits:hover {
    transform: scale(1.05);
}
.body-modal-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.multiple-option-wrapper {
    display: flex;
    width: 100%;
}

.section_bottom_modal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
