body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to top left, #F9C74F 0%, #43AA8B 100%);*/
    background-image: url("../img/beer.png");
    background-position: bottom right;

}

.blur-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(10px);
    padding: 10% 30%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.general_table {
    border: 1px solid black;
}

.score_table_index {
    width: 10%;
    height: 10%;
}

.score_table_column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score_table_team {
    width: 10%;
}

.score_table_type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_table_type * {
    align-self: center;
}

.icon_table_beer{
    width: 10%;
    height: auto;
}

.top-nav-buttons {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid black;
    width: 100%;
    height: 15%;
    /*background: #916E40;*/
    background-color: #801E09;
}

#top-nav h1 {
    color: white;
}

#top-nav button {
    color: white;
    background-color: #DA7E29;
    width: 10%;
    height: 50%;
    font-size: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 500ms;
}

#top-nav button :hover {
    transform: scale(1.1);
}

