body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.main-wrapper {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, #F9C74F 0%, #43AA8B 100%);
    padding: 20% 30%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid purple;
}

.general_table{
    width: 70%;
    height: 70%;
}

#top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid black;
    width: 100%;
    height: 15%;
}

.top-nav-buttons{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
